* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
header{
    background-color: rgb(187, 184, 184);
    padding: 64px 38px;
}
header nav ul{
    /* background-color: red; */
    width: 546px;
    display: flex;
    justify-content: space-between;
}
header nav ul a{
    color: #000000;
    font-size: 18px;
}

.indexarticle{
width: 33%;
background-color: #ff9900;
border-radius: 30px 30px 0px 0px;
overflow: hidden;
}

.indexarticle div{
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.indexarticle div img{
width: 100%;
}
.indexarticle h2{
font-size: 18px;
}
.indexarticle section{
    padding: 14px 68px 12px 12px ;
}
.indexarticle section p:nth-child(2){
margin: 14px 0;
    height: 40px;
    
    font-size: 14px; 
   
    margin-top: 10px;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.indexarticle section p a{
    color: rgba(0, 0, 0, 0.5);
}
.articlecontainer{
    display: flex;
    justify-content: space-between;
    padding: 34px 36px 48px 34px
}
footer{
    padding: 48px 0 30px 38px;
}
/* ///////////////////////// */
/* innerpage styles */
/* START */
/* ///////////////////////// */
.sarqturqmain{
    padding: 14px 34px 46px 38px;
}
.goback{
    margin-left: 8px;
    margin-bottom: 14px;
}
.goback a{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}
.innerarticle{
    background-color: #ff9900;
    padding-top: 56px;
    padding-bottom: 50px;
}
.innerarticle h2{
    margin-left: 10px;
    font-size: 18px;
}
.innerarticle p{
    font-size: 20px;
    padding: 0 20px 0 10px;
}
.innerarticle p span{
    display: block;
    margin: 10px 0;
    text-indent: 20px;
   
}
.imgparent{
    display: flex;
    margin-top: 70px;
    margin-bottom: 36px;
}
.innerimage{
    width: 33.33%;
    height: 300px;
    overflow: hidden;
}
.innerimage img{
    width: 100%;
    filter: grayscale();
    transition: 0.5s;
}
.innerimage img:hover{
    filter: none;
    transform: scale(1.2);
}
.limoni{
    background-color: #FFC700;
}
.sazamtro{
    background-color: #FFE600;
}